<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_aEQE3VGUM_VPdqt2R3kjWSQ-ILSpOPA</string>
	<key>GCM_SENDER_ID</key>
	<string>353293206765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.bafana.scanapp</string>
	<key>PROJECT_ID</key>
	<string>bafana-app-test</string>
	<key>STORAGE_BUCKET</key>
	<string>bafana-app-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353293206765:ios:14b666bdbf7d1547c1f8e4</string>
</dict>
</plist>